// METHOD 3: NAME GRID AREAS
.container {
  width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-template-rows: 80px 120px 250px 80px;
  grid-template-columns: repeat(3, 1fr) 150px;
  grid-gap: 30px;

  grid-template-areas:
    '. head head .'
    'box-1 box-2 box-3 side'
    'main main main side'
    'foot foot foot foot';

  & > * {
    background-color: orangered;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
  }
}

.header {
  grid-area: head;
}

.sidebar {
  grid-area: side;
}

.small-box-1 {
  grid-area: box-1;
}

.small-box-2 {
  grid-area: box-2;
}

.small-box-3 {
  grid-area: box-3;
}

.main-content {
  grid-area: main;
}

.footer {
  grid-area: foot;
}

// // METHOD 2: LINE NAMES
// .container {
//   width: 1000px;
//   margin: 30px auto;

//   display: grid;

//   grid-template-rows: [header-start] 80px [header-end box-start] 120px [box-end main-start] 250px [main-end footer-start] 80px [footer-end];
//   grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 150px [grid-end];

//   grid-gap: 30px;

//   & > * {
//     background-color: orangered;
//     padding: 20px;
//     color: white;
//     font-size: 30px;
//     font-family: sans-serif;
//   }
// }

// .header {
//   grid-column: col-start 1 / grid-end;
// }

// .sidebar {
//   grid-column: col-end 3 / grid-end;
//   grid-row: box-start / main-end;
// }

// .main-content {
//   grid-column: col-start 1 / col-end 3;
// }

// .footer {
//   grid-column: col-start 1 / grid-end;
// }

// // METHOD 1: LINE NUMBERS
// .container {
//   width: 1000px;
//   margin: 30px auto;

//   display: grid;

//   grid-template-rows: 80px 120px 250px 80px;
//   grid-template-columns: repeat(3, 1fr) 150px;

//   grid-gap: 30px;

//   & > * {
//     background-color: orangered;
//     padding: 20px;
//     color: white;
//     font-size: 30px;
//     font-family: sans-serif;
//   }
// }

// .header {
//   grid-column: 1 / -1;
// }

// .sidebar {
//   grid-column: 4 / 5;
//   grid-row: 2 / span 2;
// }

// .main-content {
//   grid-column: 1 / span 3;
// }

// .footer {
//   grid-column: 1 / -1;
// }
