.container {
  width: 1000px;
  margin: 30px auto;
  background-color: #ddd;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (150px)[2];
      grid-template-rows: repeat(2, 150px);
  grid-gap: 30px;
  grid-auto-rows: 100px;
  grid-auto-flow: row dense;
  grid-auto-columns: 0.5fr;
  -ms-grid-rows: (100px)[2];
      grid-template-rows: repeat(2, 100px);
  -ms-grid-columns: (200px)[2];
      grid-template-columns: repeat(2, 200px);
  height: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .item {
  padding: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  background-color: orangered;
}

.container .item--4 {
  background-color: crimson;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / span 3;
}

.container .item--6 {
  background-color: lightcoral;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
}

.container .item--7 {
  background-color: palevioletred;
  grid-column: 1 / -1;
}
