* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;

  &__lecture {
    height: 600px;
    flex-direction: row; // Main AXIS
    // justify-content: flex-start; // default
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    align-content: flex-start;
  }

  &__flex-row {
    flex-direction: row; // Main AXIS
    justify-content: center;
    align-items: baseline;
  }

  &__flex-col {
    height: 1500px;
    flex-direction: column; // Main AXIS
    justify-content: space-between;
    align-items: flex-end;
  }
}

.item {
  background-color: #f1425d;
  padding: 20px;
  margin: 30px;
  color: #fff;
  font-size: 40px;
}

.i1 {
  // flex-basis: 200px;
  // flex-shrink: 0;
  flex: 0 0 200px;
}

.i2 {
  height: 200px;
  flex-basis: 200px;
}

.i3 {
  order: 1;
  flex-grow: 1;
}

.i4 {
  align-self: flex-end;
  order: -1;
}

.i5 {
  order: -2;
}

.test-item {
  background-color: #f1425d;
  padding: 20px;
  margin: 30px;
  color: #fff;
  font-size: 40px;
}

.test-item2 {
  height: 200px;
}

.test-item4 {
  font-size: 90px;
}
